.sidebarRow{
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
    h4{
      margin-left: 20px;

    }
  .MuiSvgIcon-root{
    font-size: xx-large;
    color: #2e81f4;
  }
}
.sidebarRow:hover{
  background-color: lightgray;
  border-radius: 10px;
}

@media screen and (max-width:1024px) {
  .sidebarRow{
    display: none;
  }
}
